* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{ 
   padding: 0 0;

}   

nav ul li{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: end;
}

.img {
    display: flex;
    align-items: center;
    align-content: center;
    
}

.piedegoogle {

}
nav ol li{
    float: left;
    list-style: none;
    text-align: justify;
    padding: 10px;
}

nav{
    background: whitesmoke;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    text-align: left;
    
}

aside{
    float: center;
}

div{
    text-align: center;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}
input [type="text"] {
    padding: 10 px;
    border: 1 px solid #ccc;
    border-radius:  20 px;
    font-size: 16 px;
    width: 300 px;
    height: 200 px;
}

p {
    border-radius:  20 px;
    font-size: 16 px;
    width: 200 px;
    height: 100 px;

}



